# Este arquivo é usado pelo sistema de construção para ajustar a saída CSS e JS para suportar os navegadores especificados abaixo.
# Para obter informações adicionais sobre as opções de formato e regras, consulte:
# https://github.com/browserslist/browserslist#queries

# Para obter a lista completa de navegadores suportados pela estrutura Angular, consulte:
# https://angular.io/guide/browser-support

# Você pode ver quais navegadores foram selecionados pelas suas consultas executando:
# lista de navegadores npx

última 1 versão do Chrome
última 1 versão do Firefox
últimas 2 versões principais do Edge
últimas 2 versões principais do Safari
últimas duas versões principais do iOS
FirefoxESR
não IE 11 # Angular oferece suporte ao IE 11 apenas como opcional. Para aceitar, remova o prefixo 'não' nesta linha.
